.manipulation-controls
  flex-grow: 1
  justify-content: center

  .assay
    border: 1px solid black
    background-color: white
    padding: 3px
    display: inline-block
    cursor: pointer

    &:active
      background-color: gray