@import "../../vars"

.model-wrapper
  position: relative
  cursor: default
  margin-left: auto
  margin-right: auto

  &.add
    cursor: url('../../../assets/cell-zoom/add-substance-generic-cursor.png') 9 41, auto
  &.add-eumelanin
    cursor: url('../../../assets/cell-zoom/add-eumelanin-cursor.png') 9 41, auto
  &.add-hormone
    cursor: url('../../../assets/cell-zoom/add-hormone-cursor.png') 9 41, auto
  &.add-pheomelanin
    cursor: url('../../../assets/cell-zoom/add-pheomelanin-cursor.png') 9 41, auto
  &.add-signalProtein
    cursor: url('../../../assets/cell-zoom/add-signalProtein-cursor.png') 9 41, auto
  &.assay
    cursor: url('../../../assets/cell-zoom/measure-substance-cursor.png') 9 41, auto
  &.inspect
    cursor: url('../../../assets/cell-zoom/inspect-proteins-cursor.png') 6 5, auto
  &.target-zoom
    cursor: url('../../../assets/cell-zoom/target-zoom-cursor.png') 20 20, auto

  &.add-eumelanin-disabled
    cursor: url('../../../assets/cell-zoom/add-eumelanin-disabled-cursor.png') 9 41, auto
  &.add-hormone-disabled
    cursor: url('../../../assets/cell-zoom/add-hormone-disabled-cursor.png') 9 41, auto
  &.add-pheomelanin-disabled
    cursor: url('../../../assets/cell-zoom/add-pheomelanin-disabled-cursor.png') 9 41, auto
  &.add-signalProtein-disabled
    cursor: url('../../../assets/cell-zoom/add-signalProtein-disabled-cursor.png') 9 41, auto
  &.assay-disabled
    cursor: url('../../../assets/cell-zoom/measure-substance-disabled-cursor.png') 9 41, auto
  &.inspect-disabled
    cursor: url('../../../assets/cell-zoom/inspect-proteins-disabled-cursor.png') 6 5, auto
  &.target-zoom-disabled
    cursor: url('../../../assets/cell-zoom/target-zoom-disabled-cursor.png') 20 20, auto

.hover-location
    position: absolute
    top: 45px
    right: 0
    min-width: 94px
    height: 23px
    color: #fff
    background: rgba($color-simdata-carrot, .85)
    border: 1px solid #444
    padding: 2px 6px
    text-align: center
    border: 2px solid #fff
    border-right: none
    border-radius: 0 0 0 5px
    transform: translate3d(0px, 0px, 0px)  // needed to keep visibility after scaling
.temp-dropper
  position: absolute
