.organisms-container

  .cell-zoom-panel .model-wrapper
    top: -40px

  .collect-button-holder
    position: absolute
    z-index: 1

  .index,
  .x-close
    color: black

  .organism-controls
    position: absolute
    bottom: 0px
    text-align: center
    font-size: 1.2em
    display: flex
    flex-direction: row
    width: 100%