@import "../../vars"

.nesting-pair-data-panel.pea
  .pair-data
    .nest-display
      height: 87px
      .mouse-holder
        display: flex
        justify-content: space-around
        height: 65px
        img
          margin: 0 0 0 4px
          width: 30px
          transform: none
