@import "../../vars"

.breeding-view
  width: 100%
  height: 433px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  font-size: $font-size-label1
  font-family: $font-stack
  color: $color-simdata-brick-dark2

  .parents
    display: flex
    width: 100%
    justify-content: space-around
    align-items: center
    font-size: 14px
    font-weight: 500
    padding-top: 8px

    .parent-label
      position: absolute
      top: 20px
      left: 6px

    .parent
      display: flex
      flex-direction: column
      align-items: center
      &.mother
        padding-left: 61px
      &.father
        padding-right: 61px
      .parent-image
        display: flex
        justify-content: center
        align-items: center
        height: 94px
        width: 94px
        border-radius: 50%
        background-color: $color-simdata-brick-light3
        margin-top: 5px

    .breed-button-container
      padding-top: 18px

      .breeding-button.breed-button
        color: $color-nav-shamrock-dark2
        background-color: $color-nav-shamrock-light2
        height: 60px
        width: 63px
        border: 2px solid white
        font-size: 16px
        font-weight: 500
        &:hover
          background-color: $color-nav-shamrock-light1
        &:active
          background-color: $color-nav-shamrock-dark1
          color: white
          .icon
            fill: white
        .icon
          width: 53px
          height: 35px
          fill: $color-nav-shamrock-dark1
        .label
          margin-top: -2px
          margin-bottom: 1px

  .offspring
    position: relative
    width: 100%
    height: 235px
    display: flex
    justify-content: space-around
    opacity: 1
    transition: opacity 0.5s
    &.hide
      opacity: 0

    .litter-number, .total-offspring, .reset-button-container
      position: absolute
      width: 40px
      text-align: center
    .litter-number
      top: 10px
      left: 6px
      font-size: 14px
      font-weight: 500
    .total-offspring
      top: 155px
      left: 5px
      font-size: 10px
      font-weight: 400
    .reset-button-container
      top: 190px
      left: 5px
      .reset-button
        font-size: 8px
        background-color: $color-simdata-brick-light3
        height: unset
        width: unset
        padding: 2px 6px 0
        margin: 0
        border: 2px solid white
        border-radius: 3px
        &:hover
          background-color: $color-simdata-brick-light2
        &:active
          background-color: $color-simdata-brick-light1
        .icon
          width: 27px
          height: 20px

    .litters-container
      width: 300px
      height: 225px
      background-color: white
      overflow: hidden
      border: 2px solid white
      border-radius: 5px
      .litters
        position: relative
        &:before          // allows appearance animation
          content: ' '

      .litter
        display: flex
        justify-content: center
        margin: 32px 0 -11px 0
        transition: all 0.5s
        animation: push-down 0.8s ease

        .stacked-organism
          margin: -6px;
        .stacked-organism:nth-child(even)
          margin-top: 10px
          z-index: 2

    .focus-overlay
      position: absolute
      top: 2px
      left: 58px
      width: 293px
      height: 218px
      z-index: 3
      pointer-events: none

      &>div
        background-color: #ffe5e590
        width: 100%
      .focus-overlay-top
        height: 8px
      .focus-overlay-bottom
        height: 114px
      .focus-window
        width: 303px
        height: 102px
        margin-left: -5px
        background-color: transparent
        border: 2px solid $color-simdata-brick-dark2
        border-radius: 5px
        &:before
          content: ' '
          position: absolute
          left: -11px
          top: 20px
          width: 0
          height: 0
          border-style: solid
          border-width: 5px 6px 5px 0
          border-color: transparent $color-simdata-brick-dark2 transparent transparent

    .litter-scroll
      position: absolute
      right: 20px
      height: 225px

@keyframes push-down
  0%
    opacity: -1
    height: 0
  100%
    opacity: 0.9
    height: 63px