@import "../../vars"

.breeding-view.pea
  .offspring
    .litters-container
      .litter
        height: 88px
        margin: 17px 0 -11px 0
        background-image: url("../../../assets/unit/pea/pea_pod_transparent.png")
        background-size: cover
        animation: pea-pod-push-down 0.8s ease

