@import "../../vars"

.populations-toolbar
  height: 100px
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  position: absolute
  bottom: 0px
  background-color: $color-simdata-amber
  border-style: solid
  border-color: white
  border-width: 2px 0 0 0
  transform: translate3d(0px, 0px, 0px)  // needed to keep visibility after scaling

  .toolbar-row
    display: flex
    flex-direction: row
    width: 100%
    justify-content: center

    .population-checkbox
      height: 20px
      width: 20px
      background: $color-simdata-amber-light2

    .population-button
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 50px
      width: 52px
      margin: 6px
      border: none
      outline: none
      border-radius: $component-border-radius
      font-size: $font-size-label1
      font-family: $font-stack
      color: $color-simdata-amber-dark2
      background-color: $color-simdata-amber-light2
      cursor: pointer
      transition-duration: $fade-time

      &.sticky
        color: $color-white
        background-color: $color-simdata-amber-dark1

      &.sticky-alt
        color: $color-white
        background-color: $color-nav-cerulean-dark1

      &.disabled
        opacity: .5
        pointer-events: none

      .icon
        width: 44px
        height: 28px
        fill: $color-simdata-amber

        &.sticky
          fill: $color-white

        &.sticky-alt
          fill: $color-white

        &.disabled
          opacity: .5

      .label
        margin: $internal-component-margin

    /* hover and mousedown states */
    .population-button:hover
      background-color: $color-simdata-amber-light1

    .population-button:active
      color: $color-white
      background-color: $color-simdata-amber-dark1

    .population-button:active .icon
      fill: $color-white

    /* hover and mousedown states of brown sticky button */
    .population-button.sticky:hover
      background-color: $color-simdata-amber-light1

    .population-button.sticky:active
      color: $color-simdata-amber-dark2
      background-color: $color-simdata-amber-light2

    .population-button:active .icon.sticky
      fill: $color-simdata-amber


    /* hover and mousedown states of blue sticky button */
    .population-button.sticky-alt:hover
      background-color: $color-nav-cerulean-light1

    .population-button.sticky-alt:active
      color: $color-nav-cerulean-dark2
      background-color: $color-nav-cerulean-light2

    .population-button:active .icon.sticky-alt
      fill: $color-nav-cerulean

    .population-button.sticky-alt-off:active
      color: $color-white
      background-color: $color-nav-cerulean-dark1

    .population-button:active .icon.sticky-alt-off
      fill: $color-white

  .label-holder
    display: flex
    flex-direction: column
    justify-content: center
    height: 22px

    .label
      display: flex
      align-items: center
      font-size: $font-size-label1
      color: $color-simdata-amber-dark2

  .circle
    height: 6px
    width: 6px
    border-radius: 3px
    margin-left: 3px
    margin-top: 3px

    &.male
      background-color: $color-key-red

    &.female
      background-color: $color-key-yellow

    &.heterozygote
      background-color: $color-key-blue

  .environment-box
    height: 22px
    width: 38px
    border: 2px solid $color-simdata-amber
    border-radius: 3px
    color: $color-black
    background-color: $color-white
    display: flex
    justify-content: center
    align-items: center
    font-size: $font-size-label2

    &.dark
      color: $color-nav-cinder-light2
      background-color: $color-nav-cinder

    &.neutral
      color: $color-nav-cinder-dark1
      background-color: $color-nav-cinder-light1

    &.light
      color: $color-nav-cinder
      background-color: $color-nav-cinder-light3

.populations-container
  cursor: auto
  &.select
    cursor: url('../../../assets/collect-cursor.png') 27 20, auto
  &.inspect
    cursor: url('../../../assets/inspect-cursor.png') 6 5, auto

.populations-environment
  .bubble .content .details .agent-property-value
    clear: left
    float: left
    padding: 3px 0 10px 10px