.amino-acids
  .amino-acid-slider
    overflow: hidden
    position: relative
    height: 44px

    .amino-acids
      position: relative
      font-family: 'Courier'
      color: white
      fill: white
      /* pointer-events: none */

      text-align: left

      -webkit-touch-callout: none
      -webkit-user-select: none
      -khtml-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none

    svg
      .focusBox
        fill: #eb7d40
        stroke: #973b00
        stroke-width: 2
      .focusTriangle
        fill: #973b00
        stroke: #973b00
        stroke-width: 0
        &.mark
          fill: #ffff00

      .codon
        fill: rgb(109, 43, 0)
        font-weight: 400
        font-family: Ubuntu, sans-serif