.info-and-options

	.heading
		color: #6d2b00
		font-size: 14px
		font-weight: 700
		font-style: normal
		text-align: left
		font-family: Ubuntu, sans-serif

	.info-wrapper
		display: flex

	.info
		width: 220px
		display: flex
		flex-direction: column
		align-items: start
		padding: 5px
		color: #434e56
		font-size: 14px
		font-family: 'Arial'
		font-weight: 400
		font-style: normal

		& > div
			padding: 2px 33px
		p
			margin: 3px
			width: 100%
		li
			margin: 0

		.symbol
			display: flex
			align-items: center
			justify-content: space-between
			width: 88px
			margin-left: 20px

		.aa-counter
			display: flex
			align-items: center
			justify-content: space-between
			width: 152px

			.aa-number
				display: flex
				justify-content: space-around
				align-items: center
				border: 2px solid #d4520088
				border-radius: 5px
				width: 31px
				height: 23px
				background-color: #d4520022