.protein-viewer
  display: flex
  position: initial !important
  height: 100%

.proteins-and-sliders
  display: flex
  flex-direction: column
  justify-content: space-between

.proteins
  display: flex

  .protein
    display: flex
    padding: 0 10px
    height: 100%

  .protein > svg
    height: 100%
    position: relative

.info-and-options
  font-size: 0.8em;

  .options
    position: absolute
    bottom: 5px
    display: flex
    flex-direction: column
    align-items: flex-start

  .info-box-wrapper
    right: 230px
    bottom: 230px

@media screen and (max-height: 570px)
  .info-and-options
    font-size: 2.5vh

    .info
      padding: 0.5vh

    .info > div
      padding: 0.5vh

    .info>svg
      width: 4vh

    .options > label
      margin-bottom: -3px