.protein-viewer
  display: flex
  position: initial !important

.proteins-and-sliders
  display: flex
  flex-direction: column
  justify-content: space-between

  .mark
    position: absolute
    top: 124px
    left: 44%
    width: 40px
    text-align: center
    z-index: 2
    color: #434e56
    font-size: 11px
    font-weight: 400
    font-style: oblique

  .amino-acids-scrubber
    margin-top: 6px

    .line-chart-controls
      width: 93%
      margin-left: 3%

.proteins
  display: flex

  .protein
    display: flex
    padding: 0 10px
    height: 100%

  .protein > svg
    height: 100%
    position: relative

.info-and-options
  font-size: 0.8em
  position: absolute
  left: 45%