@import ../vars

.chart-container
  max-height: 360px
  background-color: white
  margin: $component-margin

  .chart-display
    max-height: 360px

    .line-chart-container
      position: relative
      height: 100%
      width: 100%