@import vars

.collect-button-holder
  position: relative
  display: flex
  flex-shrink: 0
  height: $collect-button-holder-width
  width: $collect-button-holder-height
  justify-content: center
  align-items: center
  margin-bottom: $triple-component-margin

  .x-close
    position: absolute
    top: 1px
    left: 76px
    width: 24px
    height: 21px
    border-top-left-radius: 12px
    border-top-right-radius: 12px
    transform: rotate(45deg)
    transition-property: background-color
    transition-duration: $fade-time
    &.shown:hover
      background-color: $color-nav-cerulean-dark1
      cursor: pointer
    &.shown:hover + .collect-button-outline
      background-color: $color-nav-cerulean-dark1

    .icon
      position: absolute
      top: 5px
      left: 6px
      transform: rotate(-45deg)
      width: 12px
      height: 12px
      fill: $color-white

  .index
    position: absolute
    top: 0px
    left: 0px
    padding: 1px
    font-family: $font-stack
    font-size: 14px
    font-weight: 700
    color: $color-nav-cerulean-dark2

    &.uncollected
      color: $color-nav-cinder-light1

  .collect-button-outline
    display: flex
    justify-content: center
    align-items: center
    width: $collect-button-outline-width
    height: $collect-button-outline-height
    border-radius: $collect-button-radius
    transition-property: background-color
    transition-duration: $fade-time

  .collect-button
    display: flex
    justify-content: center
    align-items: center
    width: $collect-button-width
    height: $collect-button-height
    border: $collect-button-border-width solid $color-black
    border-radius: $collect-button-radius
    background-color: $color-white

    &.uncollected
      border-style: dashed
      border-color: $color-nav-cinder-light1
      background-color: $color-nav-cerulean-light3

    &.male
      border-color: $color-key-red

    &.female
      border-color: $color-key-yellow

    .inner-outline
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: $collect-button-inner-border-width
      height: $collect-button-inner-border-height

      .icon
        height: $collect-button-icon-height
        width: $collect-button-icon-width

      &.heterozygote
        border-radius: $collect-button-inner-border-radius
        border: $collect-button-border-width dotted $color-key-blue


    .label
      font-size: $font-size-label2
      color: $color-nav-cerulean-dark2

// styles below only for when we are in the backpack
.left-nav-panel
  .collect-button-holder:not(.uncollected)
    .collect-button
      &.deselected
        opacity: 0.5
      &.selected
        background-color: $color-nav-cerulean-light1

  .collect-button-outline:hover:not(.uncollected)
    background-color: $color-white
    cursor: pointer

.four-up-row
  .collect-button-holder
    position: absolute
    z-index: 999
    .x-close
      left: 94px
      transform: rotate(60deg)
      .icon
        transform: rotate(-60deg)
    .index
      left: 17px
      font-size: 12px
      color: $color-white
    .collect-button-outline
      width: 84px
      height: 84px
      left: 13px
      &.uncollected.placeable:hover
        background-color: $color-white
        cursor: pointer
    .collect-button
      width: 70px
      height: 70px
      .inner-outline
        width: 60px
        height: 60px
        .icon
          width: 53px
          height: 35px
      &.uncollected.placeable:active
        background-color: $color-nav-cerulean-light1
.four-up-row.top-row
  .x-close
    top: 10px
  .index
    top: 13px
  .collect-button-outline
    position: relative
    top: -2px
.four-up-row.bottom-row
  .x-close
    top: 7px
  .index
    top: 8px
  .collect-button-outline
    position: relative
    top: -7px
