@import 'vars.sass';

:export {
  chartDataColor1:  $color7;
  chartDataColor2:  $color8;
  chartDataColor3:  $color9;
  chartDataColor4:  $color10;
  chartDataColor5:  $color1-7;
  chartDataColor6:  $color2-7;
  chartDataColor7:  $color3-7;
  chartDataColor8:  $color4-6;
  chartDataColor9:  $color5-6;
  chartDataColor10: $color6-6;

  chartColor5:  $color1;
  chartColor6:  $color2;
  chartColor7:  $color3;
  chartColor8:  $color4;
  chartColor9:  $color5;
  chartColor10: $color6;

  disabledColor5: $color1-2;

  colorChartRed: $color-chart-red;
  colorChartYellow: $color-chart-yellow;
  colorDataMouseBrownLightRep: $color-data-mousebrown-light-rep;
  colorDataMouseBrownMediumRep: $color-data-mousebrown-medium-rep;
  colorDataMouseBrownDarkRep: $color-data-mousebrown-dark-rep;

  colorDataPeaRound: $color-data-pea-round;
  colorDataPeaWrinkled: $color-data-pea-wrinkled;
  colorDataPeaDark: $color-data-pea-dark;

  gameteArrowColor: $color-nav-shamrock-dark1;
}
