@import vars

$header-height: 60px

.formik-authoring
  display: grid;
  grid-template-columns: 180px 960px;
  color: $color-charcoal

  h1
    font-size: 18px
    font-weight: 500

  .left-column
    .logo
      width: 100%
      height: $header-height
      background-color: #fff8e6
      display: flex
      justify-content: center
      align-items: center

      .icon
        width: 160px
        margin-top: -10px

  .right-column
    .authoring-header
      display: flex
      justify-content: flex-start
      align-items: center
      height: $header-height
      padding-left: 10px


  &.mice
    .authoring-header
      background-color: #ffd56d