@import vars

/* width */
::-webkit-scrollbar
  width: 6px;

/* Track */
::-webkit-scrollbar-track
  background: #f1f1f1;

/* Handle */
::-webkit-scrollbar-thumb
  background: #7DD4F0;

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555;

.left-nav-panel
  display: flex
  flex-direction: column
  width: $left-nav-panel-width
  background-color: $left-nav-bgcolor

.left-nav-header
  text-align: center
  padding-top: 8px
  padding-bottom: 8px
  margin-bottom: 3px
  color: $left-nav-header-color
  font-family: $title-font-stack
  font-weight: bold

.left-nav-header-investigate
  background-color: $left-nav-investigate-header-bgcolor

.left-nav-header-collect
  background-color: $left-nav-collect-header-bgcolor

.left-nav-button-holder
  padding-top: 6px
  padding-bottom: 6px
  margin-bottom: 3px

.left-nav-button-holder-investigate
  background-color: $left-nav-investigate-bgcolor

.left-nav-button-holder-collect
  flex-grow: 1
  overflow-y: auto
  background-color: $left-nav-collect-bgcolor


.left-nav-button
  text-align: center
  margin: auto
  margin-top: 10px
  margin-bottom: 10px
  border-style: dashed
  border-color: $button-border-color
  color: $button-color
  background-color: $button-bgcolor

.left-nav-button:hover
  border-color: $button-border-hover-color

.left-nav-button-square
  border-radius: 5px
  width: $button-width
  height: $button-height
  line-height: $button-height

.left-nav-button-circle
  border-radius: 40px
  width: $button-width
  height: $circle-button-height
  line-height: $circle-button-height
  font-size: 40px



