@import vars

/* width */
::-webkit-scrollbar
  width: 6px;

/* Track */
::-webkit-scrollbar-track
  background: #f1f1f1;

/* Handle */
::-webkit-scrollbar-thumb
  background: #7DD4F0;

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555;

.left-nav-panel
  display: flex
  flex-direction: column
  width: 120px
  color: #242424
  background-color: #ffffff

.left-nav-header
  color: #ffffff
  text-align: center
  padding-top: 8px
  padding-bottom: 8px
  margin-bottom: 3px
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold

.left-nav-header-investigate
  background-color: #49B860

.left-nav-header-collect
  background-color: #00AAE2

.left-nav-button-holder
  padding-top: 6px
  padding-bottom: 6px
  margin-bottom: 3px

.left-nav-button-holder-investigate
  background-color: #D2EDD8

.left-nav-button-holder-collect
  background-color: #C0EAF8
  overflow-y: auto
  flex-grow: 1

.left-nav-button
  border-style: dashed
  border-color: #AEAEAE
  background-color: #EEF9FC
  margin: auto
  margin-top: 10px
  margin-bottom: 10px
  text-align: center
  color: #AEAEAE

.left-nav-button:hover
  border-color: #ffffff

.left-nav-button-square
  border-radius: 5px
  width: 80px
  height: 60px
  line-height: 60px

.left-nav-button-circle
  border-radius: 40px
  width: 80px
  height: 80px
  line-height: 80px
  font-size: 40px



