@import vars

.main-content
  flex-grow: 1;
  display: flex
  justify-content: center
  align-items: center
  color: $main-content-color
  background-color: $main-content-bgcolor

  &.populations
    background-color: $color-khaki-yellow-dark4

  &.organism
    background-color: $color-salmon-orange-dark4