@import "./vars"

.stacked-organism
  position: relative
  display: flex
  justify-content: center
  align-items: center

  &:hover .selection-stack.show
    opacity: 1
  &:hover .gamete-view-stack
    opacity: .75
  &:hover .inspect-stack
    opacity: .75

  .selection-stack
    position: absolute
    top: 0
    left: 0
    opacity: 0
    transition-duration: .25s
  .organism-image
    position: absolute
    top: 10%
    left: 50%
    top: 50%
    transform: translateY(-50%) translateX(-50%)
    &.flip
      transform: translate3d(0px, 0px, 0px) translateY(-50%) translateX(-50%) scaleX(-1)
  .hetero-stack
    position: absolute
    border-color: $left-nav-legend-heterozygote-color
    border-style: dotted
    border-radius: 50%
    opacity: 0
    transition-duration: .25s
    &.show
      opacity: 1
  .sex-stack
    position: absolute
    border-style: solid
    border-radius: 50%
    opacity: 0
    transition-duration: .25s
    &.show
      opacity: 1
    &.male
      border-color: $left-nav-legend-male-color
    &.female
      border-color: $left-nav-legend-female-color
  .gamete-view-stack
    position: absolute
    top: 0
    left: 0
    border-radius: 50%
    opacity: 0
    transition-duration: .25s
    background-color: $color-nav-shamrock-light1
    &.show
      opacity: .75
  .inspect-stack
    position: absolute
    top: 0
    left: 0
    border-radius: 50%
    opacity: 0
    transition-duration: .25s
    background-color: $color-simdata-brick-light1
  .genotype-label
    position: absolute
    color: $color-nav-cinder-dark2
    font-weight: 400
    font-size: 12px
    &.parent-mouse
      top: 68px
      left: 35px
    &.child-mouse
      top: 2px
      left: 20px
      font-size: 10px