@import vars

.top-bar
  grid-column: 1 / 3;
  margin-bottom: 0px

.top-bar-container
  display: flex

.top-bar-icon-holder
  width: 108px
  height: 28px
  padding: 6px
  background-color: #F2F2F2
  margin-right: 3px;

.top-bar-title-holder
  background-color: #e4e4e4
  flex-grow: 1;
  text-align: center;
  padding-top: 12px
  padding-bottom: 8px
  color: #797979	
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
