@import vars

.two-up-display
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%
  height: 100%
  justify-content: center

.two-up-panel
  display: flex
  flex-direction: column
  background-color: $component-bgcolor
  border: $component-border-width solid white
  border-radius: $two-up-border-radius
  margin: $double-two-up-margin
  overflow: hidden

  .button-holder
    flex-grow: 0
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    height: 30px
    font-size: 11px
    font-family: $font-stack
    color: $color-simdata-amber-dark2
    transition-duration: $fade-time
    &:hover:not(.disabled)
      cursor: pointer
    &.disabled
      opacity: .5
      pointer-events: none

  .header
    flex: 0 0 $two-up-header-height
    display: flex
    align-items: center
    font-family: $font-stack
    color: $two-up-header-color
    text-align: center
    background-color: $two-up-header-bgcolor
    margin-bottom: 2px
    &.populations
      background-color: $color-simdata-amber
    &.organism
      background-color: $color-simdata-carrot

    .title
      flex-grow: 1

    .button-holder
      &:hover:not(.disabled)
        background-color: $two-up-button-background
      .button
        height: $two-up-button-icon-height
        width: $two-up-button-icon-width
        fill: $color-simdata-amber-light1
      &.active
        .button
          fill: $two-up-button-icon-color-active

    &.organism
      .button-holder
        &:hover:not(.disabled)
          background-color: $color-simdata-carrot-dark1
        .button
          fill: $color-simdata-carrot-light1
        &.active
          .button
            fill: $two-up-button-icon-color-active

  .content
    flex-grow: 1
    overflow: hidden
    position: relative

    &.populations
      background-color: $color-simdata-amber-light2

    &.organism
      background-color: $color-simdata-carrot-light2

  .resizetofit
    display: flex

  .scrollable
    overflow: auto

  .footer
    display: flex
    align-items: center
    justify-content: center
    height: $two-up-footer-height
    width: 100%
    margin-top: 2px
    background-color: $two-up-header-bgcolor
    border-bottom-left-radius: $component-border-radius
    border-bottom-right-radius: $component-border-radius
    transition-property: height
    transition-duration: $fade-time
    &.populations
      background-color: $color-simdata-amber
    &.data
      height: 45px
    &.organism
      background-color: $color-simdata-carrot

    .button-holder
      width: 140px
      border-radius: 13px
      background-color: $color-simdata-amber-light2
      &:hover:not(.disabled)
        background-color: $color-simdata-amber-light1
      &:active:not(.disabled)
        background-color: $color-simdata-amber-dark1
        color: $color-white

  .float-buttons
    .button-holder
      position: absolute
      width: 114px
      height: 29px
      border-radius: 5px
      background-color: $color-simdata-amber-light2
      &.upper-right
        top: 111px
        right: 17px
      &:hover:not(.disabled)
        background-color: $color-simdata-amber-light1
      &:active:not(.disabled)
        background-color: $color-simdata-amber-dark1
        color: $color-white

.left-abutment
  margin-left: $two-up-margin

.right-abutment
  margin-right: $two-up-margin

.top-abutment
  margin-top: $two-up-margin

.bottom-abutment
  margin-bottom: $two-up-margin
