@import vars

.zoom-control-container
  position: relative
  width: 100%
  text-align: center
  margin-left: auto
  margin-right: auto


  .zoom-control
    width: $button-width / 4
    height: $button-height / 3
    background-color: $color3-6
    margin: $quarter-margin $half-margin
    border-radius: $circle-button-radius
    color: $color3-1
    float: left
    font-weight: bold
    &:hover
      background-color: $color3-7
