@import vars

.zoom-control-container
  position: absolute
  width: 100px
  bottom: 0px
  text-align: center
  font-size: 1.2em


  .zoom-control
    width: $explore-button-height
    height: $explore-button-height
    background-color: $color3-6
    margin: $quarter-margin $half-margin
    border-radius: $explore-button-right-radius
    color: $color3-1
    float: left
    font-weight: bold
    &:hover
      background-color: $color3-7
