@import vars

.zoom-container
  display: flex
  flex-direction: column
  background-color: rgba(212, 82, 0, .5)

  .label
    font-size: 11px
    color: $color-simdata-carrot-light2

  .zoom-control-container
    display: flex
    flex-direction: row

    .organism-button
      height: 26px
      width: 26px
      margin: 5px 5px 2px 5px
      &.zoom-out
        margin-right: 3px
        border-radius: $explore-button-right-radius 0 0 $explore-button-right-radius
      &.zoom-in
        margin-left: 0px
        border-radius: 0 $explore-button-right-radius $explore-button-right-radius 0
        &.target
          border-radius: 0 5px 5px 0
      .icon
        width: 18px
